body {
    background-image: url(https://wallpapercave.com/wp/wp11824914.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    margin: 0;
    font-family: Monaco , monospace;
}
ul{
    display: flex;
    list-style: none;
    padding: 1rem;
}

li{
    padding: 1rem;
}

nav{
    font-weight: bold;

}

li{
    font-size: larger;
}

h1{
    color: rgb(223, 255, 248);
}

img{
    width: 80px;
    height: 80px; 
}

.menu {
    background-color: #1ec7fab7;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    display: block;
    padding: 10px 20px;
    color: #000000;
    text-decoration: none;
    
}

.menu ul li a:hover {
    background-color: #1ec7fa;
}

.contenido {
    padding: 20px;
}
